.image-container{
   // border: 1px solid;
    height: 222px;
    width: 219px;
    margin-top: 9px;
    display: inline-block;
}

.image-data{
    padding: 2px;

}

.image-card{
    height: 180px;
    background-color: rgba(0,0,0,0.03);
    border-radius: 10px;
    padding: 2px;
}

.image-card:hover{
   // background-color: rgba(0,0,0,0.03);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%)
}

.search-img{
    height: 180px;
    width: 200px;
  //  object-fit: contain;
    border-radius: 15px;

}
