.image-data{
    border: 1px solid;
    height: 222px;
    width: 314px;
    margin-top: 9px;
}

.image-card{
    height: 180px;
    background-color: rgba(0,0,0,0.03);
    border-radius: 10px;
}

.image-card:hover{
   // background-color: rgba(0,0,0,0.03);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%)
}

.search-img{
    height: 180px;
    width: 310px;
    object-fit: contain;

}
