

.searchbar{
    margin-left: 40px;
    width: 615px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

.searchinput{
    border: none;
    width: 515px;
    margin-left: 20px;
    height: 40px;
    font-size: 16px;
    outline: none;
  }


.voice{
    position: relative;
    height: 20px;
    left: 5px;
  }


  .searchicon{
    height: 20px;
    position: relative;
    left: 10px;
  }


  .vl {
    position: relative;
    border-left: 1px solid #dcdcdc;
    height: 30px;
  }

  li {
    display: inline;
    margin-right: 25px;
}

.topgrid {
  position: relative;
  top: 10px;
 // display: grid;
  grid-template-rows: repeat(2 60px);
  grid-template-columns: repeat(4); 
  align-items: center;
  grid-template-areas: 
  "logo form apps signin"
  ". options . .";
}

.options {

  font-size: 15px;
  color: grey;
}

.option-link{
  padding: 5px;
}

.option{
  border-bottom: 1px solid blue;
  border-bottom-width: 3px;
  padding: 5px;
}

.option-link:hover{
  border-bottom: 1px solid blue;
  border-bottom-width: 3px;
  padding: 5px;

}

.hrz {
  height: .25rem;
  width:auto;
  margin: 0;
  background: tomato;
  border: none;
  position: relative;
  transition: 0.3s ease-in-out;
}


.search-box{
  position: relative;
  left: 170px;

}

